.root {
  position: relative;
  width: 100%;
}

.resultWrap {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  top: 80%;
}

a {
  background: #fff;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

/* cursor show decoration */
a:hover {
  text-decoration: underline;
}
